body {
    margin: 0;
    overflow: hidden;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

.controls {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;

    display: flex;
    gap: 10px;
}

canvas {
    display: block;
    background: black;
}

.top-right-ui {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

#ruleSelect {
    padding: 8px;
    background: #222;
    color: white;
    border: 1px solid #444;
}

#generationCounter {
    position: fixed;
    bottom: 10px;
    right: 10px;

    padding: 10px;

    background: rgba(0,0,0,0.6);

    border: 1px solid #333;

    font-size: 14px;
}